Connected Services/RemoteCalculator/CalcService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalcService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57961/WCFCalculator/CalcService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57961/WCFCalculator/CalcService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="ICalculator_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_AddNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNumber" />
  </wsdl:message>
  <wsdl:message name="ICalculator_AddNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SubNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:SubNumber" />
  </wsdl:message>
  <wsdl:message name="ICalculator_SubNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_MultNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:MultNumber" />
  </wsdl:message>
  <wsdl:message name="ICalculator_MultNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DivNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:DivNumber" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DivNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/TestConnection" message="tns:ICalculator_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/TestConnectionResponse" message="tns:ICalculator_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/AddNumber" message="tns:ICalculator_AddNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/AddNumberResponse" message="tns:ICalculator_AddNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/SubNumber" message="tns:ICalculator_SubNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/SubNumberResponse" message="tns:ICalculator_SubNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MultNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/MultNumber" message="tns:ICalculator_MultNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/MultNumberResponse" message="tns:ICalculator_MultNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DivNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/DivNumber" message="tns:ICalculator_DivNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/DivNumberResponse" message="tns:ICalculator_DivNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/ICalculator/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNumber">
      <soap:operation soapAction="http://tempuri.org/ICalculator/AddNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubNumber">
      <soap:operation soapAction="http://tempuri.org/ICalculator/SubNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultNumber">
      <soap:operation soapAction="http://tempuri.org/ICalculator/MultNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DivNumber">
      <soap:operation soapAction="http://tempuri.org/ICalculator/DivNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:57961/WCFCalculator/CalcService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>